---
export const prerender = true

const { message, currentUser } = Astro.props
---

<div class={`p-4 rounded-lg ${
    message.sender === currentUser.data.user?.id
    ? "bg-blue-500 text-white text-right"
    : "bg-gray-300 dark:bg-gray-700 text-gray-800 dark:text-gray-100"
    }`}
    >
    {message.content}
</div>